/*stylesheet for landing page */
* {
    box-sizing: border-box;
}
/*consider flexing body*/
/*padding? review all padding in html*/
body {
    font-family: Roboto, sans-serif;
  }

  /* padding ?? */
.top {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 10em;
}

/* flex ul to display li items horizontally*/
/*remove bullets on ul with list style none*/
ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

/*removes underline on hyperlink*/
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
  }

.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-bottom: 2em;
}

.logo-text {
    font-size: 24px;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

/*not sure about widths*/
.hero-left {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    flex-basis: 100%
}

.hero-right {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    align-items: flex-end;
    width: 100%;
    height: 100%;
}

/*this is not correct*/
.img-holder {
    background:  rgb(101, 106, 110);
    padding: 3em 5em;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
  }

