/*stylesheet for landing page */
@import url('https://fonts.googleapis.com/css2?family=Besley:ital,wght@0,400;1,900&display=swap');

/*consider flexing body*/
/*padding? review all padding in html*/
body {
    font-family: Roboto, sans-serif;
    padding-left: 1em;
    padding-right: 1em;
  }

  /* padding ?? */
.top {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 5em;
}

/* flex ul to display li items horizontally*/
/*remove bullets on ul with list style none*/
ul {
    list-style: none;
    display: flex;
    gap: 24px;
}

/*removes underline on hyperlink*/
a {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
  }

.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-bottom: 5em;
}

.logo-text {
    font-size: 24px;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-text {
    font-size: 48px;
    font-weight: 900;
}

/*not sure about widths*/
.left-side {
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    max-width: 40%;
    min-width: 30%;
}

.right-side {
    display: flex;

}

/*this is not correct*/
.img-holder {
    background:  rgb(101, 106, 110);
    display: flex;
}

img {
    background:  rgb(101, 106, 110);
    width: 500px;
    height: 200px;
    align-self: center;
}

button {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 24px;
  }

