/*stylesheet for landing page */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@1,200&display=swap');

* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, sans-serif;
    margin: 0;
    font-style: normal;
}

.top-section {
    background-color: #1f2937;
    color: #f9faf8;
    display: flex;
    flex-direction: column;
    padding-left: 13em;
    padding-right: 13em;
    padding-bottom: 8em;
}

.header {
    display: flex;
    align-items: center;
    justify-content:space-between;
    padding-bottom: 6em;
}

.header__logo {
    display: flex;
    justify-content: space-between;
}

/* the logo looked better in bold */
/*min width prevents text wrap */
.header__logo-text {
    font-size: 24px;
    font-weight: bolder;
    color: #00b4f0;
    align-self: flex-start;
    justify-content: flex-start;
    padding-top: 8px;
    min-width: 85px;
}

.header__trademark {
    color: #f2f2f2;
    font-weight: bolder;
    font-size: 18px;
    vertical-align: super;
}

/* flex ul to display li items horizontally*/
/*remove bullets on ul with list style none*/
/* justify content with min width li prevents text wrap*/
.header__nav-list {
    list-style: none;
    display: flex;
    gap: 20px;   
    white-space: nowrap;
}

.header__nav-item {
    align-self: center;
}

/*removes underline on hyperlink*/
.header__nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #e5e7eb;
}

/*link hover color change*/
.header__nav-link:hover {
    color: #00b4f0;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3em;
}

.hero__left {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items:flex-start;
    min-width: 400px;
    max-height: 250px;
    max-width: 50%;
}

.hero__main-text {
    font-size: 48px;
    font-weight: 900;
    padding-bottom: 8px;
}

.hero__sub-text {
    color: #f2f2f2;
    font-size: 18px;
}

.hero__more-info {
    border: none;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 32px;
    font-size: 16px;
    font-weight:bold;
    margin-top: 10px;
}

.hero__right {
    display: flex;
}

.info-section__title {
    font-size: 36px;
    font-weight: 900;
    margin-top: 50px;
    margin-bottom: 50px;
    text-align: center;
    color: #1f2937;
}

.info-section__container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
    padding-bottom: 7em;
}

.info-section__item {
    max-width: 175px;
}
.info-section__image {
    border-radius: 25px;
    border: 4px solid #474849;
    max-width: 175px;
    min-width: 175px;
    max-height: 175px;
    min-height: 175px;
}

.info-section__text {
    text-align: center;
    color: #474849;
    font-size: 18px;
}

.inspo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #e5e7eb;
    padding-left: 20em;
    padding-right: 20em;
    padding-top: 8em;
    padding-bottom: 6em;
}

.inspo-section__text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
    padding-left: 10px;
    align-self: center;
}

.inspo-section__signature {
    font-size: 24px;
    font-weight: 600;
    align-self: flex-end;
    padding-top: 4px;
}

.action-section {
    background-color: white;
    padding: 6em 13em;
    color: white;
}

.action-section__container {
    background-color: #3882f6;
    display: flex;

    justify-content: space-between;
    border-radius: 8px;
    padding: 3em 6em;
    gap: 20px; 
    min-width:fit-content;
}

/* min-width fit content keeps button in container as window gets smaller*/
.action-section__left {
    min-width: 308px;
}

/* shrink 0 keeps button from compressing */
.action-section__right {
    align-self: flex-end;
    flex-shrink: 0;
}

.action-section__sign-up {
    border-color: white;
    border-style: solid;
    border-radius: 8px;
    background: #3882F6;
    color: white;
    padding: 8px 32px;
    font-size: 16px;
    font-weight:bold;
}

button:hover {
    background: #00b4f0;
    transition: 0.7s;
}

.footer {
    background-color: #1f2937;
    color: #f9faf8;
    font-size: 18px;
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}